* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
body {
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

#title {
  text-align: center;
  margin: 20px 0;
  font-size: 2em;
  color: #333;
  text-transform: uppercase;
}
